body {
	text-align: center;
	font-family: sans-serif;
	color: #1c1c1c;
}
h1 {
	margin: 2rem 0 2rem;
	font-size: 2rem;
}
#input {
	width: 67%;
	border: 1px solid #a3a3a3;
	margin: 2rem auto;
	padding: 1rem 2rem;
	background-color: #b7e0ff;
}
#group, #location, #distance, label, button {
	font-size: 1.1rem;
}
#location {
	width: 20rem;
}
#distance {
	-webkit-appearance: menulist-button;
	appearance: menulist-button;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 204, 204);
	cursor: pointer;
	height: 30px;
	width: 9rem;	
}
#results {
	text-align: left;
	margin: 2rem auto;
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
}
#group-list {
	display: inline-block;
	margin-left: 3rem;
}
#map-canvas {
	display: inline-block;
	width: 500px;
	height: 400px;
	vertical-align: top;
}
#group-list {
	font-size: 1.1rem;
	line-height: 1.8rem;
	margin-left: 3rem;
}
#group-list li a {
	text-decoration: none;
	color: black;
}
#error {
	color: #d61d1d;
	font-size: 1.2rem;
}